@import "components/variables.scss";

.contactSec{
   padding: 2rem 0;
   background-color: $blue-light;
   color: $white;
}

.contentWrapper{
   max-width: 55rem;
   margin: auto;
}

.joined{
   text-align: center;
   text-transform: uppercase;
}