@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

html{
   font-size: 62.5%;
 }

body{
   background-color: #ccc;
   font-family: 'Rubik', sans-serif;
   font-size: 1.8rem;
}

p{ margin-bottom: 0; }
