/*~~ COLORS ~~*/
$blue-light: hsl(231, 69%, 60%);
$blue-dark: hsl(229, 31%, 21%);
$red-light: hsl(0, 94%, 66%);
$grey: hsl(229, 8%, 60%);
$grey-dark: hsl(240, 8%, 41%);
$grey-light: hsl(240, 1%, 98%);
$white: hsl(240, 0%, 100%);


/*~~ FONT SIZE ~~*/
$title-prim: 4.2rem;
$title-sec: 2.5rem;